#chatbot-circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #00bcd4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#chatbot-container, #movie-popup {
    position: fixed;
    bottom: 20px;
    height: 600px;
    background-color: #f3f4f6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
}

#chatbot-container {
    right: 20px;
    width: 400px;
}

#movie-popup {
    left: 20px;
    right: calc(20px + 400px + 20px); /* Ajuster la largeur en fonction de la largeur du chatbot et de l'espace entre les deux */
    width: calc(100% - 460px); /* Ajuster la largeur en fonction de la largeur du chatbot et de l'espace entre les deux */
}

#close-chatbot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px; /* Réduire la taille du carré */
    height: 24px; /* Réduire la taille du carré */
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal; /* Assurer que la croix n'est pas en gras */
    font-size: 18px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.movie-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item .movie-details {
    flex-grow: 1;
}