<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant Netflix</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        /* Ajoutez ce style pour aligner le titre et la croix de fermeture sur la même ligne */
        
    </style>
</head>
<body class="bg-white text-gray-900 font-sans h-screen flex flex-col">

    <header class="bg-gray-100 text-gray-900 py-4 border-b-4 border-cyan-400 shadow-xl">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-extrabold tracking-wide">Assistant Netflix</h1>
        </div>
    </header>

    <!-- Chatbot Circle -->
    <div id="chatbot-circle">
        <span class="text-white text-2xl">💬</span>
    </div>

    <!-- Chatbot Container -->
    <div id="chatbot-container" class="bg-gray-100 p-6 rounded-2xl shadow-2xl">
        <div class="header-container">
            <h2 class="text-2xl font-bold text-gray-900">ChatBot Assistant</h2>
            <span id="close-chatbot" class="text-gray-900 text-xl cursor-pointer">✖</span>
        </div>
        <div class="message-history space-y-4 flex-grow overflow-y-auto p-2" id="message-history" style="max-height: 60vh;"></div>
        <form id="chat-form" class="mt-4">
            <input type="text" id="user_input" name="user_input" placeholder="Tapez votre message ici..." required
                class="w-full p-3 bg-gray-200 text-gray-900 border border-gray-400 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-400">
            <button type="submit" class="w-full mt-3 py-2 bg-cyan-500 text-white rounded-lg hover:bg-cyan-400 transition duration-300 shadow-lg">
                Envoyer
            </button>
        </form>
    </div>

    <!-- Movie Popup -->
    <div id="movie-popup" class="bg-gray-100 p-6 rounded-2xl shadow-2xl">
        <div id="movie-info" class="space-y-4 flex-grow overflow-y-auto p-2" style="max-height: 60vh;"></div>
    </div>

    <script src="/static/js/script.js"></script>

</body>
</html>